.customer-link {
    text-decoration: none;
}

.customer-card {
    border: solid black;
    width: 400px;
    display: block;
    background: #5ca3b5;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}